.fakeimg {
    height: 200px;
    background: #aaa;
}

.checked {
    color: orange;
}


.review_button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;

}

.review_button:hover {
    background-color: RoyalBlue;
}

.details_body{
    text-align: justify;
}

.location_heading, .job_profile_heading,
.details_heading, .benefits_heading,
.company_heading{
  color:#777;
}

.website_url, .details_body,
.benefits_body, .footer_body{
  color:#777;
}

.footer_body a{
  color:#777;
}

.footer_body a:hover{
  background-color: #ddd;
  color: black;
}

.website_url a:hover{
  color: #1e90ff;
}
