/*-----------------------------*/
/* BASIC SET UP*/
/*-----------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: lightgrey;
    color:#555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear:both;
    display:block;
    height:0;
    visibility :hidden;
}


/*-----------------------------*/
/* Reuseable Components */
/*-----------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
section{
    padding: 80px 0;
}

/*-----------------------------*/
/* Headings */
/*-----------------------------*/

h1, h2, h3{

    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin:0;
    color:#fff;
    font-size:240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 160%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color:#fff;

}


h3{
    font-size: 110%;
    word-spacing: 2px;
    margin-bottom: 15px;
}

/*-----------------------------*/
/*    NAV   */
/*-----------------------------*/

.main-nav{
    float:right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 15px;
    padding: 4px;
}

.main-nav li:last-of-type{
    border: 2px solid #e67322;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 90%;
    text-transform:  uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 4px;


}
.main-nav li a:hover,
.main-nav li a:active{
    padding: 4px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 90%;
    text-transform:  uppercase;
    border-bottom: 2px solid #e67322;
}

.logo{
    height:85px;
    width:auto;
    float:left;
    margin-top: 20px;
}


/*-----------------------------*/
/*    HEADER   */
/*-----------------------------*/

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(img/a2background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left:70%;
    transform: translate(-50%, -50%);
}



btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border: 1px solid #e67322;
    border-radius: 200px;
    transition: background-color 1.2s, border 0.2s, color 0.2s;
    margin-right: 15px;
}
/*-----------------------------*/
/* BUTTONS*/
/*-----------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border: 1px solid #e67322;
    border-radius: 200px;
    transition: background-color 1.2s, border 0.2s, color 0.2s;
    margin-right: 15px;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67322;
}

.btn-ghost:link,
.btn-ghost:visited{
    color:#e67322;
}

.btn:hover,
.btn:active,
input[type=submit] {
    background-color: #cf6d17;
    color:#fff;
}

.btn-full:hover,
.btn-full:active,
{
    border:1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    color: #fff;
    border:1px solid #cf6d17;
}
