@media only screen and (max-width: 800px) {

    h1{
        font-size:140%;
        word-spacing: 2px;
        letter-spacing: 0;
    }

    h2{
        font-size: 80%;
        word-spacing: 1px;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    .text-box{
        top:50%;
        left:70%;
        transform: translate(-25%, -50%);
    }
}

@media only screen and (max-width: 400px){

    h1{
        font-size:80%;
        word-spacing: 2px;
        letter-spacing: 0px;
    }

    h2{
        font-size: 40%;
        word-spacing: 1px;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    .text-box{
        top:50%;
        left:70%;
        transform: translate(-15%, -50%);
    }

    .logo{
        display: none;
    }

    li:first-child{
        display: none;
    }
    li:last-of-type{
        margin-right: 5px;
    }


}
